<!--This is the page for the editor ... page #2 on our app map-->

<!--<div ng-show="member" ng-controller="AuthController">
    <h2 id="welcome">Welcome {{member.username}}</h2>
</div>-->


<div class="form-group">
    <input type="text" class="form-control" placeholder="Song Title" ng-model="title">
    <textarea class="form-control" name="song-area" id="" style="width:70%; height:100%" ng-model="musicInput" placeholder="input chord-sheet here ..."></textarea>
    <!--<button id="chordsubmit" class="btn btn-default" ng-click="peekaboo()">Submit</button>-->
   <div id="ad-space" class="float col-sm-offset-10 col-sm-2">Your Ad Here!</div>
    <form ng-submit="peekaboo()" class="form">
        <label name="flat-sharp">Flat</label>
        <input type="radio" name="flat-sharp" value="b" ng-model="accidental">
        <label name="flat-sharp">Guitar</label>
        <input type="radio" name="flat-sharp" value="g" ng-model="accidental">
        <label name="flat-sharp">Sharp</label>
        <input type="radio" name="flat-sharp" value="#" ng-model="accidental">
        <label name="Key-change slider"></label>
        <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" class="slider"></rzslider>
        <!--<input type="range" min="-11" max="11" ng-model="slider" list="ticks"><span>{{slider}}</span>-->
        <button id="songsubmit" ng-click="submit" class="btn btn-default">Convert</button>
    </form>
</div>
<!--<span>{{musicInput}}</span>-->